# 依赖
/vendor/
/node_modules/

# 环境与配置
.env
.env.local
.env.*.local

# 存储与缓存
/storage/cache/*
!/storage/cache/.gitkeep
/storage/logs/*
/storage/debug/
/storage/uploads/
!/storage/logs/.gitkeep

# 数据库
/*.sqlite
/*.sqlite-journal

# 业务代码 (如果你想让仓库保持核心纯净，可以取消下面注释)
# /app/*
# /database/migrations/*
# /resources/*

# IDE 与系统文件
.idea/
.vscode/
.DS_Store
Thumbs.db
composer.lock
bun.lock
.codex
package-lock.json
.phpunit.result.cache
.sisyphus/
.trae/

migrations/
datalog/

# 编译产物
/public/build
/public/storage
/public/assets
/datalog
.atomcode/
database/*.sqlite
src/statics/node_modules/
src/statics/bun.lock
src/statics/package-lock.json

skeleton/
admin/
app/
config/
database/
resources/
public/
storage/sessions/
storage/sse/
