/* Watermark 水印 */
.ux-watermark-wrapper {
    position: relative;
    overflow: hidden;
}

.ux-watermark-content {
    position: relative;
    z-index: 1;
}

.ux-watermark {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    background-repeat: repeat;
    user-select: none;
}
